@import "tailwindcss";
@import "@nuxt/ui";

.container {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1rem;
}

.skill_roll_container {
    justify-content: space-evenly;
}

.flex-container {
    display: flex;
    column-gap: 2rem;
}

.col1,
.col2 {
    max-width: 50%;
}

.col2 {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.separator {
    margin: 1rem 0;
}