@import "tailwindcss";
@import "@nuxt/ui";

.container {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1rem;
}

.skill_roll_container {
    justify-content: space-evenly;
}